header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color:rgba(234, 199, 27, 0.674);
                }

.img-gazpacho
    {border-radius: 10%; border-style:double; border-color:rgb(22, 39, 192); 
    background-image: url(.img-gazpacho);
    background-repeat: repeat;
    background-size: contain
            }

body {background-color: #f7ecad;}
h1 
    {font-family:Verdana, Geneva, Tahoma, sans-serif; color: red; font-size: 30pt; 
        text-align: center;
        margin-left: 30px;
    }
main 
    {font-family: sans-serif;font-size: 14pt;text-align: justify;}

.final
   {font-family: Verdana; font-size: 16pt; color: rgb(78, 4, 4);
    text-align: center;}

footer
 {font-size: 10pt; color: white; background-color: black;}

